	/*
  	Flaticon icon font: Flaticon
  	Creation date: 24/09/2018 13:02
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../icon-fonts/Flaticon.eot");
  src: url("../icon-fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
       url("../icon-fonts/Flaticon.woff") format("woff"),
       url("../icon-fonts/Flaticon.ttf") format("truetype"),
       url("../icon-fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../icon-fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-001-meditation:before { content: "\f100"; }
.flaticon-002-yin-yang:before { content: "\f101"; }
.flaticon-005-jainism:before { content: "\f104"; }
.flaticon-017-monk:before { content: "\f110"; }
.flaticon-018-prayer-1:before { content: "\f111"; }
.flaticon-019-chakra-1:before { content: "\f112"; }
.flaticon-021-yoga-mat:before { content: "\f114"; }
.flaticon-044-aromatherapy:before { content: "\f12b"; }